*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0d0f1b;
    overflow: hidden;
}
ul{
    position: relative;
    display: flex;
    flex-direction: column;
}
ul li{
    list-style: none;
}
ul li:before{
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:#fff;
    font-size: 6rem;
    font-weight: 700;
    pointer-events: none;
    opacity: 0;
    letter-spacing: 20px;
    transition: 0.5s;
    white-space: nowrap;      
}
ul li:hover:before{
    opacity: 0.05;
    /* letter-spacing: 0px; */

}
ul li a{
    position: relative;
    display: inline-block;
    text-decoration: none;
    border-radius: 10px;
    background: #2196f3;
    padding: 7px 16px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    overflow: hidden;
    transition: 0.5s;
    z-index: 1;
}
ul:hover li a{
    opacity: 0;
}
ul li a:hover{
    transform: scale(1.4);
    z-index: 1000;
    background-color: #ff3f81;
    opacity: 1;
}
ul li a:before{
    content: '';
    position: relative;
    top: 0;
    left: -100px;
    width: 80px;
    height: 100%;
    background: linear-gradient(90deg,transparent,rgba(255,255,255,0.8),transparent);
    transform: skewX(35deg);
    transition: 0s;
}
ul li a:hover:before{
    left: calc(100% + 100px);
    transition: 0.5s;
    transition-delay: 0.2s;
}
