* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
}
header {
    height: 15vh;
    background-color: rgb(38, 38, 38);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
footer {
    height: 8vh;
    width: 100%;
    background-color: rgb(38, 38, 38);
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h1, h2 {
    margin: 0;
}