
body
{
    display: grid;
    place-items: center;
    height: 100vh;
    background: #161625;
}
.circle
{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    position: absolute;
    top: 0.5%;
    left: 25%;
    background: radial-gradient(#ffffffca,#9C27B0 70%);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 9.15);
    z-index: 998;
}
.circle2
{
    top: 60%;
    left: 55%;
    background: radial-gradient(#ffffffca,#E91E63 70%);
}
#container
{
    height: auto;
    width: 500px;
    position: relative;
    padding: 30px;
    border-radius: 30px;
    background: linear-gradient(30deg,rgba(255,255,255,0.1),rgba(255,255,255,0.4));
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255,255,255,0.9);
    border-right: 1px solid rgba(255,255,255,0.5);
    border-bottom: 1px solid rgba(255,255,255,0.5);
    z-index: 999;
}
#container h2
{
    font-size: 55px;
    margin: 30px 0;
    color: #fff;
    text-shadow: 1px 1px 2px #E91e63;
}
#container .name
{
    width: 49.4%;
}
#container input
{
    height: 50px;
    width: 100%;
    border: none;
    outline: none;
    background: linear-gradient(to top,rgba(255,255,255,0.1),rgba(255,255,255,0.3));
    border: 1px solid rgba(255,255,255,0.4);
    border-right: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(255,255,255,0.3);
    margin: 8px 0;
    padding: 0 20px;
    font-size: 18px;
    border-radius: 7px;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}
#container input::placeholder
{
    color: #ffffff;
}

#container input[type="submit"]
{
    background: #e6336f;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    border: none;
    box-shadow: none;
}
#container p
{
    font-size: 20px;
    margin: 17px 0;
    color: #fff;
}
#container p a
{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 21px;
}
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: rgb(8, 8, 32);
    position: relative;
    overflow: hidden;
}

.bub {
    width: 130px;
    height: 130px;
    border: 1px solid white;
    box-shadow: inset 5px -5px 10px rgb(32, 32, 155);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .01);
    backdrop-filter: blur(2px);
    position: absolute;
    bottom: -100px;
    /* animation: bubble 3s ease-in infinite; */
}

.bub1 {
    width: 130px;
    height: 130px;
    border: 1px solid white;
    box-shadow: inset 5px -5px 10px rgb(212, 212, 107);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .01);
    backdrop-filter: blur(2px);
    position: absolute;
    bottom: -100px;
    /* animation: bubble 3s ease-in infinite; */
}
.bub2 {
    width: 130px;
    height: 130px;
    border: 1px solid white;
    box-shadow: inset 5px -5px 10px rgb(202, 135, 11);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .01);
    backdrop-filter: blur(2px);
    position: absolute;
    bottom: -100px;
    /* animation: bubble 3s ease-in infinite; */
}
.bub3 {
    width: 130px;
    height: 130px;
    border: 1px solid white;
    box-shadow: inset 5px -5px 10px rgb(167, 53, 53);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .01);
    backdrop-filter: blur(2px);
    position: absolute;
    bottom: -100px;
    /* animation: bubble 3s ease-in infinite; */
}

.bub::before {
    position: absolute;
    content: "";
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 25px;
    right: 23px;
    box-shadow: 0px 0px 20px white;
}
.bub1::before {
    position: absolute;
    content: "";
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 25px;
    right: 23px;
    box-shadow: 0px 0px 20px white;
}
.bub2::before {
    position: absolute;
    content: "";
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 25px;
    right: 23px;
    box-shadow: 0px 0px 20px white;
}
.bub3::before {
    position: absolute;
    content: "";
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 25px;
    right: 23px;
    box-shadow: 0px 0px 20px white;
}
.bub.a {
    left: 10%;
    animation: bubble2 2s ease-in 1s infinite;
}

.bub1.b {
    left: 20%;
    animation: bubble 1.5s ease-in 1.4s infinite;
}

.bub2.c {
    left: 28%;
    animation: bubble 1.5s ease-in 3.8s infinite;
}

.bub3.d {
    left: 40%;
    animation: bubble 1.8s ease-in .5s infinite;
}

.bub.e {
    left: 75%;
    animation: bubble2 2.3s ease-in 2.5s infinite;
}

.bub.f {
    left: 90%;
    animation: bubble 2.5s ease-in 3s infinite;
}

.bub.g {
    left: 60%;
    animation: bubble 2.2s ease-in 2s infinite;
}


.bub.i {
    left: 65%;
    animation: bubble2 1.8s ease-in 2.1s infinite;
}



@keyframes bubble {
    0% {
        opacity: 0;
    }
    10%,
    93% {
        opacity: 1;
    }
    100% {
        transform: translate(90px, -700px);
        display: none;
    }
}

@keyframes bubble2 {
    0% {
        opacity: 0;
    }
    10%,
    93% {
        opacity: 1;
    }
    100% {
        transform: translate(-90px, -700px);
        display: none;
    }
}